<h3 class="entries-content-title">{{ post.title | e('esc_html') }}</h3>
<div class="uk-text-muted">{{ post.phonetical_name | e('esc_html') }}</div>
<div class="dict-description">{{ post.dict_description | e('esc_html') }}</div>

<div class="dict-image">
    <img src="{{ TimberImage(post.thumbnail | e('esc_url')) | resize(800, 308) }}"
         alt="">
</div>