<div class="entry-content-law"><h3 class="entries-content-title">{{ post.title | e('esc_html') }}</h3>
    <h5 class="entries-content-subtitle">Where is it safe to purchase & consume?</h5>
    <p>{{ post.law_consume | e('esc_html') }}</p>
    <div class="user-tiles ">
        <div class="uk-panel uk-panel-box user-tiles-item">
            <div class="cont-image">
                <img src="{{ theme.path }}/assets/images/icon-people-green.svg" alt="">
            </div>
            <div class="title">
                How Old Do I Need <br>
                to Be to Consume?
            </div>
            <div class="two-col">
                <div class="col">
                    <div class="age">{{ post.recreational_age | e('esc_html') }}</div>
                    <div class="text">Recreational</div>
                </div>
                <div class="col">
                    <div class="age">{{ post.medical_age | e('esc_html') }}</div>
                    <div class="text">Medical*</div>
                </div>
            </div>
        </div>

        <div class="uk-panel uk-panel-box user-tiles-item">
            <div class="cont-image">
                <img src="{{ theme.path }}/assets/images/icon-leaf-green.svg" alt="">
            </div>
            <div class="title">
                Possession Limit <br>
                for Flower
            </div>
            <div class="two-col">
                <div class="col">
                    <div class="age">{{ post.flower_limit_recreational | e('esc_html') }}<span>grams</span></div>
                    <div class="text">Recreational</div>
                </div>
                <div class="col">
                    <div class="age">{{ post.flower_limit_medical | e('esc_html') }}<span>oz</span></div>
                    <div class="text">Medical*</div>
                </div>
            </div>
        </div>

        <div class="uk-panel uk-panel-box user-tiles-item">
            <div class="cont-image">
                <img src="{{ theme.path }}/assets/images/teardrop-icon-green.svg" alt="">
            </div>
            <div class="title">
                Possession Limit <br>
                for Flower
            </div>
            <div class="two-col">
                <div class="col">
                    <div class="age">{{ post.concentrate_limit_recreational | e('esc_html') }}<span>grams</span></div>
                    <div class="text">Recreational</div>
                </div>
                <div class="col">
                    <div class="age">{{ post.concentrate_limit_medical | e('esc_html') }}</div>
                    <div class="text">Medical*</div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="entries-content-subtitle">Required Testing</h5>
    <p>{{ post.law_testing | e('esc_html') }}</p>
    <h5 class="entries-content-subtitle">Qualifying Conditions and Patient Rights </h5>
    <p>{{ post.law_rights | e('esc_html') }}</p>
</div>