{% set post = TimberPost(item) %}
{% set img = TimberImage(post.thumbnail) %}
<div class="learn-item-wrapper">
    <div class="learn-image">
        <a href="{{ post.link | e('esc_url') }}">
            <img src="{{ img | e('esc_url') | resize(800,450) }}"
                 alt="{{ img.alt | e('esc_html') }}">
        </a>
    </div>
    <div class="learn-content">
        <div class="learn-content-title"><a href="{{ post.link | e('esc_url') }}">{{ post.title  | e('wp_kses_post') }}</a></div>
        {% if  not function('is_front_page') %}


        <div class="learn-cat  {{ post.category.slug | e('esc_html') }}"><a href="{{ post.category.link | e('esc_url') }}">{{ post.category | e('esc_html') }}</a></div>
        {% endif %}
    </div>
</div>