<div class="black-user-tiles uk-text-center uk-block">
    <div class="vertical-line"></div>
    <div class="uk-container uk-container-center">
        <div class="flex-tile">
            <div class="user-tile age-tile">
                <div class="tile-icon">
                    <img src="{{ theme.path }}/assets/images/icons-age-white.svg"
                         alt="">
                </div>
                <div class="tile-text">How old do you
                    need to be to consume?<span>*</span></div>
                <div class="col-section">
                    <div>{{ post.recreational_age | e('esc_html') }} <br><span>Recreational</span></div>
                    <div>{{ post.medical_age | e('esc_html') }} <br><span>Medical</span></div>
                </div>
            </div>
            <div class="user-tile flower-tile">
                <div class="tile-icon">
                    <img src="{{ theme.path }}/assets/images/icons-flower-white.svg"
                         alt="">
                </div>
                <div class="tile-text">Possession Limit
                    For Flower Products<span>*</span></div>
                <div class="col-section">
                    <div class="left">{{ post.flower_limit_recreational | e('esc_html') }} <br><span>Recreational</span></div>
                    <div class="right">{{ post.flower_limit_medical | e('esc_html') }} <br><span>Medical</span></div>
                </div>

            </div>
            <div class="user-tile conc-tile">
                <div class="tile-icon">
                    <img src="{{ theme.path }}/assets/images/icon-concentration.svg"
                         alt="">
                </div>
                <div class="tile-text">Possession Limits
                    For Concentrate Products<span>*</span></div>
                <div class="col-section">
                    <div class="left">{{ post.concentrate_limit_recreational | e('esc_html') }} <br><span>Recreational</span></div>
                    <div class="right">{{ post.concentrate_limit_medical | e('esc_html') }} <br><span>Medical</span></div>
                </div>

            </div>

        </div>
    </div>
</div>