<div class="california-hero">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="california-flag uk-width-medium-3-10">
                <img src="{{ theme.path }}/assets/images/ca-flag.png"
                     alt="California Flag">
            </div>
            <div class="california-hero-text uk-width-medium-7-10">
                <h1 class="uk-text-uppercase">UNDERSTANDING CANNABIS <br> <span>IN CALIFORNIA</span></h1>
            </div>
        </div>
    </div>
    <div class="red-banner"></div>
</div>