<div class="section consume-section">
    <div class="right-triangle"></div>
    <div class="uk-container uk-container-center">
        <h2 class="uk-text-center section-title">HOW TO CONSUME CANNABIS?</h2>
        <div class="consume-item uk-grid">
            <div class="uk-width-medium-3-10 consume-image">
                <img src="{{ theme.path }}/assets/images/flowers.jpg"
                     alt="">
            </div>

            <div class="uk-width-medium-7-10 consume-content">
                <h3 >Flowers</h3>
                <p>Cannabis flower is one of the most familiar products on the market and the most versatile. Cannabis flower can be smoked or vaporized, or used to make concentrates and other infused products.
                </p>
            </div>
        </div>
        <div class="consume-item uk-grid">
            <div class="uk-width-medium-3-10 consume-image">
                <img src="{{ theme.path }}/assets/images/concentrates.jpg"
                     alt="">
            </div>

            <div class="uk-width-medium-7-10 consume-content">
                <h3 >Concentrates
                </h3>
                <p>Concentrates -- also referred to as extracts -- come in a multitude of textures and consistencies. Concentrates are valued for their versatility and high concentration of cannabinoids and terpenes.
                </p>
            </div>
        </div>
        <div class="consume-item uk-grid">
            <div class="uk-width-medium-3-10 consume-image">
                <img src="{{ theme.path }}/assets/images/edibles.jpg"
                     alt="">
            </div>

            <div class="uk-width-medium-7-10 consume-content">
                <h3 >Edibles</h3>
                <p>Edibles, which come in many forms from baked goods to beverages, are a popular way to consume cannabis for those who don’t wish to smoke or vaporize flower or concentrates.
                </p>
            </div>
        </div>
        <div class="consume-item uk-grid">
            <div class="uk-width-medium-3-10 consume-image">
                <img src="{{ theme.path }}/assets/images/others.jpg"
                     alt="">
            </div>

            <div class="uk-width-medium-7-10 consume-content">
                <h3 >Others</h3>
                <p>Cannabis goods come in many other forms, including topicals, tinctures, capsules, transdermal patches and more.
                </p>
            </div>
        </div>


    </div>
</div>