<div class="switcher dictionary uk-subnav uk-flex uk-flex-center"
     data-uk-switcher="{connect:'#letters-switcher'}">
    <div><a href="">A - C</a></div>
    <div><a href="">D - F</a></div>
    <div><a href="">G - I</a></div>
    <div><a href="">J - L</a></div>
    <div><a href="">M - O</a></div>
    <div><a href="">P - R</a></div>
    <div><a href="">S - U</a></div>
    <div><a href="">V - Z</a></div>
    <div><a href="">#</a></div>

</div>

<div id="letters-switcher"
     class="uk-switcher">
    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in ac_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in ac_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in df_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in df_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in gi_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in gi_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in jl_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in jl_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in mo_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in mo_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in pr_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in pr_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in su_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in su_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in vz_range %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in vz_range %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>
    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10">
                <div class="entries-sidebar-wrap"
                     data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in numbers %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="entries-content uk-width-large-8-10">
                {% for post in numbers %}
                    {% include 'includes/entry-content-dictionary.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>

</div>