<div class="section faq-section uk-block" >
   <div class="uk-container uk-container-center">
       <h2 class="section-title uk-text-center">FREQUENTLY ASKED QUESTIONS FOR PEOPLE NEW TO CANNABIS </h2>
       <h3 class="faq-title"> What’s the difference between cannabis, marijuana, flower and weed?
       </h3>
        <p class="faq-answer">Nothing! These words are interchangeable, but cannabis is the scientific term. Marijuana, flower, and weed are all used in a variety of conversational situations to refer to cannabis.
        </p>

       <h3 class="faq-title">Where can I smoke?
       </h3>
       <p class="faq-answer">Marijuana must be consumed in a private place. Smoking, eating or otherwise using marijuana in public is still illegal.
       </p>
       <h3 class="faq-title">Is marijuana lab tested?
       </h3>
       <p class="faq-answer">Some cannabis currently in the California marketplace is lab tested, but testing will not become a requirement until July 1, 2018.
           </p>

       <h3 class="faq-title">I don’t want to get high, but want to use cannabis medicinally, what should I look for?
       </h3>
       <p class="faq-answer">CBD is a popular option for those looking to get the medical benefits of cannabis without the high. CBD products are available in most cannabis product types, from vape cartridges to topicals.
       </p>

       <h3 class="faq-title"> I don’t want to inhale smoke, but want to enjoy a cannabis high, what should I try?</h3>
       <p class="faq-answer">Vape pens, edibles, drinks and tinctures are a great way to enjoy the benefits of cannabis without smoking.
       </p>

       <h3 class="faq-title"> Can I walk into a dispensary on Jan. 1, 2017 and buy marijuana?
       </h3>
       <p class="faq-answer">Yes, with a valid ID that proves you’re over the age of 21. Keep in mind, however, that while marijuana is legal for adults in the state of California, local counties and municipalities also have their own set of rules that regulate how retail businesses operate.
       </p>

       <h3 class="faq-title"> Can I still get Medical Cannabis?
       </h3>
       <p class="faq-answer">Yes. Physicians may still recommend medical cannabis to adults over the age of 18. Depending upon the condition, people under 18 can obtain a recommendation with their parent or guardian’s permission. California medical patients will need to obtain an ID card issued by the Department of Health.

       </p>

   </div>
</div>