<div class="featured-posts-section uk-margin-large">
    <h2 class="small-title">Introduction</h2>
    <div class="uk-grid uk-grid-width-medium-1-3" data-uk-grid-match="{target: '.learn-content'}">
        {% for item in posts %}

            <div class="learn-item  ">
                {% include 'includes/learn-item-content.twig' %}

            </div>

        {% endfor %}
    </div>

</div>