<div class="uk-container-center uk-text-center " >

    <p class="copyright uk-text-small uk-text-muted ">Copyright	&copy; {{ year | e('esc_html') }} Weedmaps. <img
                src="{{ header_logo }}" alt=""> & <img class="wm" src="{{ small_logo }}" alt="">
        are regsitred
        trademarks of
        Ghost Management Group LLC. All Rights Reserved
    </p>

</div>

