<div class="get-the-app-section">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-1-2 uk-hidden-small">
                <div class="phone-image">
                    <img src="{{ theme.path }}/assets/images/phone.png"
                         alt="mobile">
                </div>
                <div class="app-buttons uk-flex uk-flex-center uk-flex-column">
                   <div class="get">Get the App.</div> 
                    <div class="mobile-buttons uk-flex"><a href="https://app.adjust.com/986g3c " target="_blank"><img src="{{ theme.path }}/assets/images/ios-button.png"  alt=""></a>
                        <a href="https://app.adjust.com/u4b6bg " target="_blank"><img src="{{ theme.path }}/assets/images/android-button.png"  alt=""></a>

                                                                                                     
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-medium-1-2 uk-visible-small app-small">
                <div class="app-buttons uk-flex uk-flex-center uk-flex-column">
                    <div class="get">Get the Mobile App.</div>
                    <div class="mobile-buttons uk-flex"><a href="https://app.adjust.com/986g3c " target="_blank"><img src="{{ theme.path }}/assets/images/ios-button.png"  alt=""></a>
                        <a href="https://app.adjust.com/u4b6bg " target="_blank"><img src="{{ theme.path }}/assets/images/android-button.png"  alt=""></a>


                    </div>
                </div>
                <div class="phone-image">
                    <img src="{{ theme.path }}/assets/images/phone.png"
                         alt="mobile">
                </div>
            </div>
        </div>

    <div class="green-part"></div>
</div>