{% set image = TimberImage(post.thumbnail) %}
{% set logo = TimberImage(post.hero_logo) %}


<div class="tm-hero-area uk-cover-background uk-flex uk-flex-center uk-flex-middle"
        {% if image %}
            style="background-image: url({{ image | e('esc_url') }}); "
        {% else %}
            style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(98%, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.39)));

background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.76) 98%, rgba(0, 0, 0, 0.39) 100%);"
        {% endif %}
>
    <div class="gradient-overlay"></div>
    {% if not function('is_front_page', '') %}
        <div class="hero-breadcrumb">
            <div class="uk-text-uppercase">
                <span><a href="/">LEARN /</a>  {% if function('is_singular','post')  %}
                        <a href="{{ post.category.link | e('esc_url') }}">{{ post.category | e('esc_html') }} / </a>
                {% endif %}</span>{{ post.title | striptags | e('esc_html') }}
            </div>
        </div>
    {% endif %}
    <div class="uk-grid uk-grid-collapse hero-desc">
        {% if logo!='' %}
            <div class="hero-logo ">
                <img src="{{ logo | e('esc_url') }}"
                     alt="logo">
            </div>
        {% endif %}
            <div class="hero-content">
                {% if function('is_singular','post') == '' %}
                <h1 class="hero-title uk-text-uppercase">{{ post.hero_title_green | e('esc_html') }}  <span class="white">{{ post.hero_title_white | e('esc_html') }}</span></h1>
                {% endif %}
                {% if hero_subtitle %}
                <div class="hero-subtitle uk-text-uppercase">{{ post.hero_subtitle | e('esc_html') }}</div>
                {% endif %}
                {% if post.category.slug == 'products-and-how-to-consume' %}
                    <h1 class="hero-title uk-text-uppercase">{{ post.title | e('esc_html') }}</h1>
                {% endif %}
            </div>



    </div>

</div>


