{% set image = TimberImage(background) %}
{% set logo = TimberImage(icon) %}


<div class="tm-hero-area uk-cover-background uk-flex uk-flex-center uk-flex-middle"
        {% if image %}
            style="background-image: url({{ image | e('esc_url') }}); "
        {% else %}
            style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(98%, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.39)));

background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.76) 98%, rgba(0, 0, 0, 0.39) 100%);"
        {% endif %}
>
    <div class="gradient-overlay"></div>
    {% if not function('is_front_page', '') %}
        <div class="hero-breadcrumb">
            <div class="uk-text-uppercase">
                <span><a href="/">LEARN / </a></span>{{ function('single_cat_title') }}
            </div>
        </div>
    {% endif %}
    <div class="uk-grid uk-grid-collapse hero-desc">
        {% if logo!='' %}
            <div class="hero-logo ">
                <img src="{{ logo | e('esc_url') }}"
                     alt="logo">
            </div>
        {% endif %}
            <div class="hero-content">
                <h1 class="hero-title uk-text-uppercase"><span class="white">Learn | {{ function('single_cat_title') }}</span></h1>
            </div>

    </div>


</div>
