{% set image = TimberImage(post.thumbnail) %}
{% set logo = TimberImage(post.hero_logo) %}


<div class="tm-hero-area hero-search uk-cover-background uk-flex uk-flex-center uk-flex-middle"
            style="background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(98%, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.39)));

background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.76) 98%, rgba(0, 0, 0, 0.39) 100%);"
>
    <div class="gradient-overlay"></div>
    {% if not function('is_front_page', '') %}
        <div class="hero-breadcrumb">
            <div class="uk-container uk-text-uppercase">
                <span>LEARN / </span> SEARCH RESULTS
            </div>
        </div>
    {% endif %}

</div>
