<div class="switcher law uk-subnav uk-flex uk-flex-center" data-uk-switcher="{connect:'#states-switcher'}">
    <div><a href="">USA</a></div>
    <div><a href="">WORLDWIDE</a></div>
</div>

<div id="states-switcher" class="uk-switcher">
    <div>
        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10" >
                <div class="entries-sidebar-wrap" data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <ul>
                        {% for item in us_states %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="entries-content uk-width-large-8-10">
               <div class="law-intro-text">{{ post.usa_intro_text | e('esc_html') }}</div>
                <img src="{{ TimberImage(post.usa_map) | e('esc_url') }}"
                     alt=""
                     class="law-map">
                {% for post in us_states %}
                    {% include 'includes/entry-content-law.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>
    <div>

        <div class="uk-grid uk-grid-large">
            <div class="entries-sidebar uk-width-large-2-10" >
                <div class="entries-sidebar-wrap" data-uk-sticky="{top:100, boundary: true, media: 768}">
                    <div class="entries-sidebar-title">Canada</div>
                    <ul>
                        {% for item in canada_states %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                    <br>
                    <div class="entries-sidebar-title">Other</div>
                    <ul>
                        {% for item in countries %}
                            {% include 'includes/entries-sidebar-item.twig' %}
                        {% endfor %}
                    </ul>
                </div>


            </div>
            <div class="entries-content uk-width-large-8-10">
                <div class="law-intro-text">{{ post.world_intro_text | e('esc_html') }}</div>
                <img src="{{ TimberImage(post.worlde_map) | e('esc_url') }}"
                      alt=""
                      class="law-map">
                {% for item in canada_states %}
                    {% include 'includes/entry-content-law.twig' %}
                {% endfor %}

                {% for post in countries %}
                    {% include 'includes/entry-content-law.twig' %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
