{% set logo = TimberImage(options.learn_logo) %}
<div class="learn-tiles-container">
    <h2 class="small-title"><img src="{{ logo | e('esc_url') }}"
                                 alt="">{{ options.learn_title | e('esc_html') }}
        <a href="/"
           class="uk-align-right uk-text-uppercase tiles-link return-home">Return Home ></a></h2>
    <div class="learn-tiles">

        <div class="uk-panel">
            <a href="/products-and-how-to-consume"><img src="{{ theme.path }}/assets/images/products.png"
                                                        alt=""></a></div>
        <div class="uk-panel"><a href="/cannabis-and-your-body"><img src="{{ theme.path }}/assets/images/body.png"
                                                                     alt=""></a></div>
        <div class="uk-panel"><a href="/the-plant"><img src="{{ theme.path }}/assets/images/plant.png"
                                                        alt=""></a></div>
        <div class="uk-panel"><a href="/lab-testing"><img src="{{ theme.path }}/assets/images/testing.png"
                                                          alt=""></a></div>
        <div class="uk-panel"><a href="/US-Laws_Regulations"><img src="{{ theme.path }}/assets/images/law.png"
                                                                  alt=""></a></div>
        <div class="uk-panel">
            <a href="/cannabis-and-its-evolution"><img src="{{ theme.path }}/assets/images/evolution.png"
                                                       alt=""></a></div>
        <div class="uk-panel uk-hidden-small">
            <a href="/weed-dictionnary"><img src="{{ theme.path }}/assets/images/dictionnary.png"

                                             alt=""></a></div>


        <div class="uk-panel uk-visible-small weed-dictionnary">
            <a href="/weed-dictionnary"><img src="{{ theme.path }}/assets/images/dictionnary-mobile.png"

                                             alt=""></a></div>


    </div>
    <a href="/view-all"
       class="uk-align-right uk-text-uppercase tiles-link last">View All ></a>
</div>