<div class="section medical-section">
    <div class="left-triangle"></div>
    <div class="uk-container uk-container-center">
        <h2 class="uk-text-center section-title">
            *MEDICAL USE
        </h2>
        <div class="section-subtitle uk-margin-large-bottom">To be a medical marijuana patient, you must obtain a physician’s recommendation
            and an identification card issued by the Department of Health. <br> <div class="uk-margin-top"><strong>Qualifying Conditions For
                Patients:</strong></div>
        </div>
        <div class="medical-flex">
            <div class="uk-panel">

                <div class="medical-item">AIDS</div>
                <div class="medical-item">Anorexia</div>
                <div class="medical-item">Arthritis</div>
                <div class="medical-item">Cachexia</div>

            </div>
            <div class="uk-panel">

                <div class="medical-item">Cancer</div>
                <div class="medical-item">Chronic Pain</div>
                <div class="medical-item">Glaucoma</div>
                <div class="medical-item">Type migraine</div>
            </div>
            <div class="uk-panel">

                <div class="medical-item">Persistent Muscle Spasms</div>
                <div class="medical-item">Multiple Sclerosis</div>
                <div class="medical-item">Seizures</div>
                <div class="medical-item">Epilepsy</div>


            </div>
            <div class="uk-panel">

                <div class="medical-item">Severe Nausea</div>


            </div>
        </div>
        <div class="disclaimer uk-margin-large-top uk-margin-bottom">
            Any other chronic or persistent medical symptom that either: <br>
            (A)Substantially limits the ability of the person to conduct one or more major life activities as defined in the federal Americans with Disabilities Act of 1990.
            <br>
           (B) If not alleviated, may cause serious harm to the patient’s safety or physical or mental health.
        </div>
        <div class="disclaimer-small">
           <div class="uk-text-small uk-margin-bottom uk-text-muted">Valid identification is required for people 21+. Valid identification includes CA state issued IDs, out-of-state IDs, and passports. A physician’s recommendation and an identification card issued by the Department of Health for medical patients.
           </div>

            <div class="uk-text-small uk-text-muted">**Each limit above indicates the amount to purchase/possess in total, not of each, though certain medical patients may purchase/possess more. See your doctor for more information.
            </div>
        </div>

    </div>
</div>