{% set sections = post.get_field('product_sections') %}
{% set id = 0 %}
{% set id_content = 0 %}
<div class="uk-grid uk-grid-large">
    <div class="entries-sidebar uk-width-medium-2-10">
        <div class="entries-sidebar-wrap"
             data-uk-sticky="{top:100, boundary: true, media: 768}">
            <ul>
                <li class="entries-sidebar-title">{{ post.title | e('esc_html') }}</li>
                {% for item in sections %}
                    {#{% set id = item.section_title | lower | replace(' ', '-')%}#}
                    {% set id = id + 1 %}
                    

                    <li class="entries-sidebar-item"><a href="#product-section-{{ id | e('esc_html') }}" data-uk-smooth-scroll="{offset: 90}">{{ item.section_title | e('esc_html')
                            }}</a></li>
                {% endfor %}
            </ul>
            <div class="other-posts">
                {% for item in prod_posts %}
                    <div class="other-posts-title"><a href="{{ item.link  | e('wp_kses_post') }}">{{ item.title | e('esc_html') }}</a></div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="entries-content uk-width-medium-8-10">
        {% for item in sections %}
            {% set id_content = id_content + 1 %}
            <div id="product-section-{{ id_content | e('esc_html') }}" class="entry-content-product">
                <h3 class="entries-content-title">{{ item.section_title | e('esc_html') }}</h3>
                {{ item.section_content  | e('wp_kses_post') }}
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

