<div class="section purchase-section">
    <div class="uk-container uk-container-center uk-text-center">
        <h2 class="section-title">WHERE TO PURCHASE AND CONSUME?</h2>
        <p class="section-subtitle">Marijuana can be purchased from a storefront or a delivery service, depending on your local laws.
            Marijuana must be consumed in a private place. Smoking, eating or otherwise using marijuana in public is still illegal.
        </p>
    </div>
    <div class="shop-bg"></div>
</div>