<div class="related-topics-section">
<h2 class="small-title">Related topics</h2>
    <div class="related-topics-grid">
        {% for item in post.related_topics %}
            {% set post = TimberPost(item) %}
            <div class="wst-panel">
                <div class="padder">
                    <div class="shadow">
                        <img src="{{ function('get_the_post_thumbnail_url', item)|resize(129,104) }}" alt="">
                    </div>
                    <div class="content">
                        <div class="title"><a href="{{ post.link | e('esc_url') }}">{{ post.title  | e('wp_kses_post') }}</a></div>
                            <div class="learn-cat  {{ post.category.slug | e('esc_html') }}"><a href="{{ post.category.link | e('esc_url') }}">{{ post.category | e('esc_html') }}</a></div>
                        <div class="date">
                            {{ item.post_date | date('M j') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>