<div class="uk-grid uk-grid-large">
    <div class="entries-sidebar uk-width-large-2-10" >
        <div class="entries-sidebar-wrap" data-uk-sticky="{top:100, boundary: true, media: 768}">
            <ul>
                {% for item in letter_range %}
                    {% include 'includes/entries-sidebar-item.twig' %}
                {% endfor %}
                {% for item in numbers %}
                    {% include 'includes/entries-sidebar-item.twig' %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="entries-content uk-width-large-8-10">


        {% include 'includes/entry-content-dictionary.twig' %}


    </div>
</div>