{% set item = TimberPost(item) %}
<div class="uk-grid uk-grid-large">
    <div class="entries-sidebar uk-width-large-2-10" >
        <div class="entries-sidebar-wrap" data-uk-sticky="{top:100, boundary: true, media: 768}">
            {% if post.category.slug == 'canada' or post.category.slug == 'others' %}
                <div class="entries-sidebar-title">Canada</div>
                <ul>
                    {% for item in canada_states %}
                        {% include 'includes/entries-sidebar-item.twig' %}
                    {% endfor %}
                </ul>
                <br>
                <div class="entries-sidebar-title">Other</div>
                <ul>
                    {% for item in countries %}
                        {% include 'includes/entries-sidebar-item.twig' %}
                    {% endfor %}
                </ul>

            {% else %}
            <ul>
                {% for item in us_states %}
                    {% include 'includes/entries-sidebar-item.twig' %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="entries-content uk-width-large-8-10">

            {% include 'includes/entry-content-law.twig' %}
        <div class="law-single-content uk-margin-large">
        {{ function('beans_post_content') }}
        </div>
       
    </div>
</div>
