<div class="view-all-posts learn uk-column-small-1-2 uk-column-medium-1-3 uk-column-large-1-4">

            <h3 class="view-all-title" >Introduction</h3>
            <ul id="intro" class="uk-list">
            </ul>
            <h3 class="view-all-title" >Lab testing</h3>
            <ul id="testing" class="uk-list">
                {% for item in testing_posts %}
                    <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

                {% endfor %}
            </ul>
            <h3 class="view-all-title" >Products and how to consume</h3>
            <ul id="products" class="uk-list">
                {% for item in product_posts %}
                    <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags  | e('esc_html') }}</a></li>

                {% endfor %}
            </ul>
            <h3 class="view-all-title" >Cannabis and your body</h3>
            <ul id="body" class="uk-list">
                {% for item in body_posts %}
                    <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags   | e('esc_html')  }}</a></li>

                {% endfor %}
            </ul>
            <h3 class="view-all-title" >Cannabis history</h3>
            <ul id="history" class="uk-list">
                {% for item in history_posts %}
                    <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

                {% endfor %}

            </ul>
            <h3 class="view-all-title" >The plant</h3>
            <ul id="plant" class="uk-list">
                {% for item in plant_posts %}
                    <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

                {% endfor %}

            </ul>

</div>

<hr>

<div class="view-all-posts countries uk-column-small-1-2 uk-column-medium-1-3 uk-column-large-1-4">
    <h3 class="view-all-title" >Law & regulations</h3>
    <h4 class="view-all-subtitle">USA</h4>
    <ul id="USA" class="uk-list">
        {% for item in us_states %}
            <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

        {% endfor %}

    </ul>
    <h4 class="view-all-subtitle">Canada</h4>
    <ul id="canada" class="uk-list">
        {% for item in canada_states %}
            <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

        {% endfor %}

    </ul>

    <h4 class="view-all-subtitle">Other</h4>
    <ul id="others" class="uk-list">
        {% for item in countries %}
            <li><a href="{{ item.link | e('esc_html') }}">{{ item.title | striptags | e('esc_html')  }}</a></li>

        {% endfor %}

    </ul>

</div>