/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tm-main {
  background: @bg-grey;
  .post-template-california &{
    background: @white;
  }
  .home &{
    padding-bottom: 0;
  }
}

body.post-template-california{
    background: @white;
}


.tm-secondary {
  .tm-widget {
    padding: 20px;
    @media (min-width: @breakpoint-medium){
      padding: 30px;
    }

  }
}

article > .tm-article-image:first-child {
  margin-top: -30px;
  margin-left: -30px;
  margin-right: -30px;


  @media (min-width: @breakpoint-medium){
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
  }

}

.page-description{
  color: @medium-grey;
  line-height:28px;
  font-size: 18px;
  @media (max-width: @breakpoint-mini-max){
    margin-top: 20px;
  }
}

.single-post:not(.products-and-how-to-consume){
  .tm-main{
    background: @white;
    .uk-container{
      max-width: 1050px;
    }
    .uk-article{
      background: @white;
    }
  }
}
.single-post-bottom{
  padding-top: 35px;
}

article.uk-panel-box{
  @media (max-width: @breakpoint-small){
    padding: 0;
  }
}

/*-----------------------------------------------------------
	SEARCH PAGE
/*------------------------------------------------------------*/
.search-results{
  h1.uk-article-title{
    display: none;
  }
}


h2.search-result{
  font-size: 28px;
  font-weight: bold;
  color: #4a4a4a;
  @media (max-width: @breakpoint-medium) {
    margin-top: 20px;
  }
  @media (min-width: @breakpoint-medium){
    /*margin-left: -10px;*/
  }
}
.uk-grid{
  @media (max-width: @breakpoint-medium){
    margin-left: auto;
    > *{
      padding-left: 0;
    }
  }
}
.hide{
  display: none;
}