/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer {
  background: @black;
  color: @white;
  padding: 10px 3px 3px 3px;
  height: auto;
  border-top: 1px solid #202020;
}

.tm-fat-footer {
  background: @black;
  padding-bottom: 0;
  .uk-container{
    @media (max-width:@breakpoint-medium) {
      padding-right: 0;
    }
  }
  .tm-widget {
    background: @black;
    color: @light-grey;
    .uk-panel-title {
      text-transform: uppercase;
      color: @primary-color;
    }
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    color: @white;
    font-size: 14px;
    text-transform: uppercase;
  }
  .uk-panel-title {
    font-size: 14px;
  }
  .uk-grid > * > .uk-panel + .uk-panel {
    margin-top: 0;
  }
  .uk-icon-button {
    background: @white;
    color: @black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
  }
  .uk-width-medium-4-10{
    @media (max-width: @breakpoint-small-max){
      .tm-widget{
        margin:0 auto;
        font-size: 14px;
        max-width: 290px;
        margin-top: 10px;
        .slide-content{
          text-align: center;
        }
      }
    }
  }
}

.tm-widget.uk-panel.widget_text.text-3 {
  font-size: 14px;
  max-width: 290px;
  margin-top: 10px;
}

p.copyright {
  margin: 0px 0 10px;
  img{
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    padding: 3px 0 0;
    vertical-align: middle;
    &.wm{
      height:17px;
    }
  }
}

/*-----------------------------------------------------------
	get the app
/*------------------------------------------------------------*/

.get-the-app-section {
  position: relative;
  .green-part {
    background-image: linear-gradient(183deg, #004d47 0%, #007572 100%);
    height: 245px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    @media (max-width:@breakpoint-medium){
      height:100%;
    }
  }
  .phone-image {
    max-width: 398px;
    @media (max-width:@breakpoint-medium){
      margin: 0 auto;
      width: 100%;
    }
  }
  .mobile-buttons {
    img:first-child {
      margin-right: 15px;
    }
  }
  .get {
    color: @white;
  }
  .uk-container {
    max-width: 900px;
  }
}
.app-small{
  .app-buttons{
    text-align: center;
    width: auto;
    margin: 10px auto 20px;
  }
  .get{
    font-size: 34px;
    margin-bottom: 10px;
    @media (max-width: @breakpoint-small){
      font-size: 28px;
      position: relative;
      left: -10px;
    }
  }
}

.tm-widget.widget_nav_menu{
  @media (max-width:@breakpoint-small-max){
    .uk-panel-title{
      margin-bottom: 0;
      color: #fff;
      &.active{
        color: @primary-color;
      }
    }
    .slide-content{
      display: none;
      margin-top: 5px;
      ul{
        margin:0;
      }
    }
  }
}

.accordion-footer{
  @media (max-width:@breakpoint-medium){
    .uk-width-medium-1-4{
      margin-top: 10px;
      border-top: 1px solid;
      padding-top: 15px;
      margin-right:0;
      &:last-child{
        border-bottom: 1px solid;
        padding-bottom: 15px;
      }
    }
  }
  i{
    display: none;
    float: right;
    font-size: 20px;
    margin-right: 20px;
    @media (max-width:@breakpoint-small-max){
      &.uk-icon-plus{
        display: block;
      }
      &.uk-icon-minus{
        display: none;
      }
    }
  }
  .active{
    @media (max-width:@breakpoint-small-max){
      .uk-icon-plus{
        display: none;
      }
      .uk-icon-minus{
        display: block;
      }
    }
  }
}