/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tm-header {
  background: @black;
  padding: 15px 15px 0 15px;
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.5);
  border-bottom: none;
  min-height: 50px;
  &.uk-active {
    background: @black;
    z-index: 1000;
    .tm-site-branding a {
      //color: @global-color;
    }

  }
  .uk-container {
    max-width: 100%;
  }

}

.tm-site-branding {
  padding-top: 7px;
  @media (max-width: @breakpoint-large) {
    padding-top: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 41px;
  }
  a {
    font-weight: 400;
    color: @global-color;
    text-transform: uppercase;
    font-family: @base-heading-font-family;
    font-size: 20px;
    letter-spacing: 2px;
    img {
      &.tm-logo {
        @media (max-width: @breakpoint-large) {
          display: none;
        }
      }
      &.header-logo-mobile {
        display: none;
        @media (max-width: @breakpoint-large) {
          display: block;
        }
      }
    }
  }
}

/*-----------------------------------------------------------
	hero area
/*------------------------------------------------------------*/

.tm-hero-area {
  height: 233px;
  &.hero-search {
    height: 105px;
  }
  .single-post:not(.products-and-how-to-consume) & {
    height: 420px;
  }
  position: relative;
  .gradient-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(98%, rgba(0, 0, 0, 0.76)), to(rgba(0, 0, 0, 0.39))) !important;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.76) 98%, rgba(0, 0, 0, 0.39) 100%) !important;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .hero-desc {
    position: relative;
    z-index: 2;
    //     width:800px;
    display: flex;
    justify-content: center;
    @media (max-width: @breakpoint-small-max) {
      padding: 70px 50px 50px 50px;
      width: auto;
      display: block;
      text-align: center;
    }
  }
  @media (max-width: @breakpoint-small-max) {
    height: auto;
  }

}

.hero-title {
  font-size: 41px;
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 55px;
  @media (max-width: @breakpoint-medium) {
    font-size: 37px;
    margin: 10px 0;
  }
  @media (max-width: @breakpoint-small) {
    font-size: 27px;
    margin: 10px 0;
    line-height: 40px;
  }
  .white {
    color: @white;
  }
}

.hero-logo {
  text-align: center;
  padding-right: 20px;
  @media (max-width: @breakpoint-small-max) {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80px;
    padding: 0;
    float: none;
  }
}

.hero-subtitle {
  font-size: 18px;
  color: @medium-grey;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media (max-width: @breakpoint-small-max) {
    text-align: center;
    margin-top: 10px;
  }
}

/*-----------------------------------------------------------
	top bar
/*------------------------------------------------------------*/

.top-bar {
  display: none;
  @media (min-width: @breakpoint-medium) {
    display: block;
  }
  background: @secondary-color;
  padding: 5px;

  .tm-widget {
    color: @white;
    font-family: @base-heading-font-family;
    font-weight: 300;

    p {
      margin: 0;
      line-height: 1;

    }
    .uk-icon-button {
      float: right;
      margin-right: 5px;
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
      background: @primary-color;
      color: @white;
      .transition;
      &:hover {
        background: lighten(@secondary-color, 15%);
        .transform(rotateZ(360deg));
      }

    }
  }
  a {
    color: @white;
    &:hover {
      color: @primary-color;
    }
  }
  .uk-icon-phone {
    margin-right: 8px;
    font-size: 22px;
    position: relative;
    top: 1px;
  }

}

/*-----------------------------------------------------------
	Search form
/*------------------------------------------------------------*/
.block-search {
  position: relative;
  z-index: 2;
  bottom: 30px;
  width: 80%;
  max-width: 750px;
  margin: 0 auto -50px;
  form {
    input {
      padding-left: 50px !important;
      font-style: italic;
      font-size: 16px;
      border-radius: 3px !important;
      box-shadow: 0 4px 11px #ddd;
      color: #999999;
    }
    i {
      left: 15px;
      line-height: 11px;
      font-size: 17px !important;
    }
  }
}

a.mobile-search-icon {
  position: absolute;
  right: 20px;
  top: 11px;
  color: white;
  display: none;
  @media (max-width: @breakpoint-large) {
    display: block;
  }
}

.mobile-search-menu {
  background-color: @black;
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 1px;
  display: none;
  .padder {
    padding: 10px 20px;
    overflow: hidden;
    form {
      display: flex;
      i.uk-icon-search {
        position: absolute;
        right: 94px;
        top: 18px;
        color: @white;
      }
      input {
        width: 100%;
        background-color: #000;
        border-radius: 3px !important;
        border: 1px solid;
        padding: 5px 35px 5px 15px;
        font-size: 15px;
        height: 37px;
        &:focus {
          color: @white;
          border-color: @primary-color;
          background-color: @black;
        }
      }
      .cancel {
        padding: 8px 0px 0 10px;
        color: @white;;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.hero-breadcrumb {
  @media (min-width: @breakpoint-medium) {
    left: 50px;
  }
  position: absolute;
  top: 20px;

    color: @light-grey;
    font-size: 16px;

  span a {
    color: @primary-color;

  }
}