/*--------------------------------------------------------------
    Header nav
    --------------------------------------------------------------*/
.tm-header{
  .uk-navbar-nav > li > a{
    color: @white;
    font-weight: 600;
    font-size:12px;
    text-transform: uppercase;
    font-family: @base-heading-font-family;
    padding-bottom: 50px; //
    border-bottom: 3px solid transparent;
    &:hover{
      color:@primary-color;
      border-bottom: 3px solid @primary-color;
    }

  }
  &.uk-active {
    .uk-navbar-nav > li > a {
      // color: @global-color;
      &:hover{
        color: @primary-color;

      }
    }
  }
  .sub-menu > li > a{
    font-family: @base-heading-font-family;
    letter-spacing: 1px;
  }
}

.tm-primary-menu{
  .uk-dropdown{
    top:32px !important;
  }
}

/*-----------------------------------------------------------
    Mobile nav off canvas
/*------------------------------------------------------------*/
a.uk-hidden-large.offcanvas_button {
  float: right;
  position: absolute;
  left: 20px;
  top: 13px;
  color: #fff;
}
li.join-menu-button {
  position: absolute;
  right: 20px;
  border: 1px solid @primary-color;
  height: 35px;
  padding: 0px 7px;
  border-radius: 3px;
  @media (max-width: @breakpoint-large){
    left: 10px;
    right: auto;
    margin-top: 10px;
  }
  a{
    padding-bottom:0;
    line-height: 36px;
    .uk-offcanvas.uk-active &{
      line-height: 17px;
    }
    &:hover{
      border-bottom: none!important;
      background-color: transparent!important;
    }
  }
}