/*--------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------*/
.section-title{
  font-size: 36px;
  text-transform: uppercase;
  font-weight: @base-body-font-family;
}

.small-title{
  font-size: 28px;
  font-weight:bold;
  text-transform: uppercase;
  color:@global-color;
  .learn-tiles-container & {
    margin-left: 10px;
  }
  .related-topics-section &{
    margin-bottom: 0;
    margin-left: 15px;
  }
  img{
    margin-right: 10px;
    margin-top: -5px;
  }
}

.single-post{
  .uk-article-title{
    font-size: 36px;
    font-weight: 700;
    color: #222;
    line-height:40px;
  }
  .tm-article-content{
    padding-top: 40px;
    h5{
      font-size:20px;
      font-weight: 600;
      color:#222
    }
     p{
    color: @global-color;
    line-height: 34px;
    font-family: 'Proxima Nova Lt';
    font-weight: 300;
  }
    img{
      margin-top: 10px;
    }
  }
 
  .post-date{
    font-size: 14px;
    color:#808080;
  }
}
.wp-caption-text{
  color:#bbb;
  font-size:18px;
  font-style: italic;
  margin-top: 25px;
}

.post-tags{
  margin-top: 40px;
  margin-bottom: 25px;
  a{
    text-transform: uppercase;
    background: #ccc;
    color: @white;
    border-radius: 4px;
    font-size:12px;
    font-weight: 700;
    padding: 3px 10px;
    margin-right: 10px;
    letter-spacing: .7px;

  }
}

hr{
  border-top:1px solid #ccc;

}