.section{
  margin: 60px 0;
  .uk-container{
    max-width: 1050px;
  }
}
.section.consume-section{
  position: relative;
  .uk-container{
    max-width: 1200px;
  }
}
/*-----------------------------------------------------------
    Hero
/*------------------------------------------------------------*/
.california-hero{
  padding-top: 30px;
  position: relative;
  .california-flag{
    @media (max-width: @breakpoint-medium){
      text-align: center;
    }
  }
  h1{
    color:@global-color;
    padding-top: 50px;
    font-family: @base-body-font-family;
    font-weight: 400;
    span{
      color:@primary-color;
//       font-family: @base-heading-font-family;
    }
    position: absolute;
    bottom: 84px;
    @media (max-width: @breakpoint-xlarge) {
      font-size: 45px;
      line-height: 63px;
      bottom: 80px;
    }
    @media (max-width: @breakpoint-large){
      font-size: 35px;
      line-height: 40px;
      bottom: 88px;
    }
    @media (max-width: @breakpoint-medium){
      font-size: 35px;
      line-height: 40px;
      bottom: 88px;
      position: inherit;
      padding-top: 20px;
      text-align: center;
    }
    @media (max-width: @breakpoint-small){
      font-size: 30px;
      line-height: 35px;
      padding-bottom: 10px;
    }
  }
  .uk-container{
    padding-bottom: 10px;
  }
}
.red-banner{
  height: 82px;
  background: #c7002f;
}

/*-----------------------------------------------------------
    Black tiles
/*------------------------------------------------------------*/

.black-user-tiles{
  background-image: linear-gradient(180deg, #292929 0%, #171717 100%);
  position: relative;
  .vertical-line {
    border-left: 1px solid;
    width: 330px;
    height: 100%;
    position: absolute;
    top: 0px;
    border-right: 1px solid;
    margin: 0 auto;
    left: 0;
    right: 0;
    @media (max-width: @breakpoint-xlarge){
      width: 280px;
    }
    @media (max-width: @breakpoint-large){
      width: 30%;
    }
    @media (max-width: @breakpoint-medium){
      display: none;
    }
  }
}
.flex-tile {
  display: flex;
  justify-content: space-evenly;
  .user-tile{
    width:260px;
  }
  @media (max-width: @breakpoint-medium){
    display: block;
    .user-tile{
      margin:10px auto;
    }
  }
}
.tile-text{
  text-align: center;
  color:@primary-color;
  font-size: 24px;
  max-width: 260px;
  margin-bottom: 10px;
}
.user-tile{
  .tile-icon{
    height: 50px;
    width: auto;
    text-align: center;
    margin: 0 auto 20px;
  }
  .col-section {
    display: flex;
    justify-content: space-around;
    div{
      color:@white;
      font-size: 36px;
      span{
        font-size:20px;
        color: @medium-grey;
        font-family: @base-body-font-family;
      }
    }
  }
}

/*-----------------------------------------------------------
    Purchase
/*------------------------------------------------------------*/
.shop-bg{
  background:url(../../images/purchase.jpg)no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
}


/*-----------------------------------------------------------
    Consume
/*------------------------------------------------------------*/
.consume-section{
  .section-title{
    margin-bottom: 60px;
  }
  h3{
    color:@global-color;
    @media (max-width: @breakpoint-medium){//eric
      margin-top: 20px;
    }
  }
}

/*-----------------------------------------------------------
    Faq
/*------------------------------------------------------------*/
.faq-section{
  background: url(../../images/can-bg.jpg)no-repeat;
  -webkit-background-size:cover;
  background-size:cover;
  .section-title{//eric
    text-transform: capitalize;
  }
}
.faq-title{
  font-size:24px;
  color:@white;
  font-weight: 400;
}
.faq-answer{
  color:@medium-grey;
  margin-top: 0;
}

/*-----------------------------------------------------------
    Medical
/*------------------------------------------------------------*/


.medical-section{
  position: relative;
  .section-title{
    text-transform: capitalize;
  }
}
.medical-flex{
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  overflow: hidden;
  @media (max-width: @breakpoint-medium){
    display: block;
    .uk-panel {
      width: 50%;
      float: left;
      margin: 10px 0px;
      @media (max-width: @breakpoint-small){
        width: auto;
        float: none;
      }
    }
  }
}
/*-----------------------------------------------------------
    Triangle
/*------------------------------------------------------------*/
@media (min-width: @breakpoint-large){
  .left-triangle{
    width: 0;
    height: 0;
    border-top: 54px solid @primary-color;
    border-right: 500px solid transparent;
    display: block;
    position: absolute;
    top: -60px;
  }

  .right-triangle{
    width: 0;
    height: 0;
    border-bottom: 54px solid @primary-color;
    border-left: 500px solid transparent;
    display: block;
    position: absolute;
    bottom: -60px;
    right:0;
  }
}