/*-----------------------------------------------------------
	menu-switcher
/*------------------------------------------------------------*/
.switcher{
  margin-bottom: 40px;
  a{
    color:@medium-grey;
    font-size: 22px;
    text-transform: uppercase;

    &:hover{
      color:@primary-color;
    }

  }
  > div{
    border-bottom:1px solid #ccc;
    &:first-child{
      padding-left: 0;
    }
    &.uk-active{
      border-bottom: 3px solid @primary-color;
    }
  }
  .uk-active a{
    color:@primary-color;
  }
  &.dictionary{

    margin-left: 42px;
    a{
      padding: 0 20px;;
    }
  }
}

/*-----------------------------------------------------------
	sidebar
/*------------------------------------------------------------*/
.entries-sidebar{
  @media (max-width: @breakpoint-small-max){
    margin-bottom: 40px;
  }

  ul{
    padding-left: 0;
    margin-top: 0;
  }
  li{
    list-style-type: none;
    font-size: 18px;
    padding: 8px 0;
    border-bottom:1px solid lighten(@medium-grey, 20%);
    a{
      color:@medium-grey;
      text-transform: capitalize;

      &:hover{
        color:@primary-color;
      }
    }
  }
}
.entries-sidebar-title{
  color: @global-color;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom:1px solid lighten(@medium-grey, 20%);

}

/*-----------------------------------------------------------
	Content
/*------------------------------------------------------------*/
.entry-content-law{
  padding: 35px 0;
  border-bottom:1px solid lighten(@medium-grey, 20%);
}

.entries-content-title{
  .page-template-law &, .products-and-how-to-consume & {
    text-transform: uppercase;
  }

  font-family: @base-body-font-family;
  font-weight: 700;
  font-size:34px;
}
.entries-content-subtitle{
  font-size:22px;
  color: @global-color;
}

.entries-content{
  p{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .uk-text-muted{
    font-size:22px;
  }
}
.dict-description{
  font-size:18px;

}
.dict-image{
  margin-top: 15px;
  margin-bottom: 40px;
  img{
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
  }

}

.law-intro-text{
  color: @medium-grey;
  font-size: 18px;
  margin-bottom: 35px;
}

.law-map{
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;

}

.products-and-how-to-consume {
  .entries-content {
    img {
      margin: 40px 0;
    }
    hr:last-of-type {
      display: none;
    }
    p{
      font-size:20px;
    }
  }
  .other-posts{
    margin-top: 60px;
    .other-posts-title{
      font-weight:600;
      padding: 8px 0;
    }
  }
  .hero-title{
    color:@white;
    font-size: 36px;
  }
}
