.learn-tiles{
  text-align: center;
  clear: both;
  .uk-panel{
    display: inline-block;
    width: 13.6%;
    img{
      width:100%;
      height:auto;
      display: block;
      transform: scale(1.08);
    }
    @media (max-width: @breakpoint-small-max){
      width: 32%;
      img{
        transform: scale(1.1);
        margin-bottom: 3px;
      }
      @media (max-width: @breakpoint-small){
        width: 31%;
      }
    }
    &.weed-dictionnary{
      width:100%;
      @media (max-width: @breakpoint-medium){
        img{
          transform: scale(1.02);
          margin-top: -16px;
        }
      }
      @media (max-width: @breakpoint-small){
        img{
          margin-top: -6px;
        }
      }
    }
  }

}
.tiles-link{
  font-size: 20px;
  margin-right:15px;
  color: @primary-color;
  font-family: @base-body-font-family;
  font-weight: 400;
  &.return-home{
    .home &{
      display: none;
    }
  }
  &.last{
    @media (min-width: @breakpoint-medium){
      margin-top: 10px;
    }
  }
}