.learn-item{
  .learn-content{
    background: @white;
    padding: 15px 20px 40px 20px;
    .home &{
      padding-bottom: 5px;
    }
    position: relative;
    @media (max-width: @breakpoint-small){
      padding-bottom: 10px;
    }
  }
  .home &{
      margin-bottom: 40px;
  }

  @media (max-width: @breakpoint-small){
    font-size: .8em;
  }
}
.learn-item-wrapper{
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.13);
  border-radius: 4px 4px 0 0;

}
.learn-content-title{
  line-height: 24px;
  @media (min-width: @breakpoint-medium){
    margin-bottom: 15px;
  }
}
.learn-cat{
  color: @white;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 5px;
  display: inline;
  border-radius: 5px;
  letter-spacing: .7px;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);

    @media (min-width: @breakpoint-small) {
      position: absolute;
      bottom: 20px;
      .single-post &{
        position: static;
      }
  }

  a{
    color: @white;


  }
  &.introduction{
    background: #954CDA;
  }
  &.cannabis-and-your-body{
    background: #F3A536;
  }
  &.cannabis-and-its-evolution{
    background: #8DB1FC;
  }
  &.lab-testing{
    background: #58E2C2;

  }
  &.products-and-how-to-consume{
    background:#5BA7FC;

  }
  &.the-plant{
    background: #FD9898;
  }
}