.related-topics-section{
  overflow: hidden;
  margin-bottom: 30px;
}
.related-topics-grid{
  .wst-panel{
    display: block;
    width: 48%;
    float: left;
    margin: 0;
    padding: 0 1%;
    font-size: 20px;
    line-height: 24px;
    color: #666666;
    @media (max-width: @breakpoint-medium){
      width: 100%;
      float: none;
    }
    .padder{
      background: @white;
      margin: 5px;
      padding:10px;
      display: flex;
      align-items: center;
      @media (max-width: @breakpoint-small){
        display: block;
        text-align: center;
      }
      .shadow{
        width:127px;
        min-width:127px;
        margin-right: 10px;
        @media (max-width: @breakpoint-small){
          margin: 0 auto;
        }
        img{
          box-shadow: 0px 2px 10px rgba(0,0,0,.50)
        }
      }
      .title{
        max-width:250px;
        display: flex;
        align-items: center;
      }
      .cats{
        background-color: @primary-color;
        border-radius: 3px;
        color: #fff;
        font-size: 11px;
        font-weight: bold;
        display: inline;
        padding: 1px 5px;
      }
      .date{
        font-size: 12px;
        color: #bbbbbb;
      }
    }
  }
}