.user-tiles {
  @media (min-width: @breakpoint-medium) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  //flex-wrap:wrap;
  overflow: hidden;
  //clear: both;

  margin-left: -5px;
  margin-top: 20px;
  margin-bottom: 20px;
  //@media (max-width: 1225px){
  //  width: 540px;
  //  margin: 20px auto;
  //}
  @media (max-width: @breakpoint-small) {
    width: auto;
  }
  .user-tiles-item {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .10);

    width: 230px;
    text-align: center;
    @media (min-width: @breakpoint-medium) {
      margin: 5px;
    }
    margin: 5px auto;
    //float: left;
    height: 170px;
    //@media (max-width: 1225px){
    //  &:last-child{
    //    float: none;
    //    clear: both;
    //    margin: 10px auto;
    //    position: relative;
    //    top:5px;
    //  }
    //}
    //@media (max-width: 600px){
    //  float: none;
    //  margin: 10px auto;
    //}
    .cont-image {
      height: 48px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      font-size: 13px;
    }
    .two-col {
      display: flex;
      justify-content: space-around;
      margin: 10px 0;
      font-size: 16px;
      .age {
        font-size: 24px;
        font-family: @base-heading-font-family;
        font-weight: bold;
        span {
          font-size: 14px;
          font-weight: normal;
          font-family: @base-body-font-family;
          color: #9b9b9b;
          position: relative;
          bottom: 4px;
          left: 3px;
        }
      }
      .text {
        color: #9b9b9b;
      }
    }
  }
}