.view-all-title{
  font-size:18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.view-all-posts{

  .uk-list{
    margin: 0;
    li{
      font-size:18px;
      line-height: 40px;
    }
  }
}
.view-all-subtitle{
  font-size:18px;
  color:#222;
}